<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-[#0F162B] border-r border-gray-200 sm:translate-x-0 dark:bg-[#0F162B] dark:border-gray-700" aria-label="Sidebar">
   <div class="float-top h-full px-3 pb-4 overflow-y-auto bg-[#0F162B] dark:bg-[#0F162B]">
        <div class="sidebar-controls">
            <a class="new-chat text-[#E8F5FC]" href="{% url 'assistant:index' %}">
                <i class="fa fa-plus"></i> New chat
            </a>
            {% comment %} <button class=""></button> {% endcomment %}
            <button class="hide-sidebar text-[#E8F5FC]"><i class="fa fa-chevron-left"></i></button>
        </div>
        <ul class="conversations">
            {% if t_ques %}
                <li class="grouping">Today</li>
                {% for item in t_ques %}
                    <li class="active">
                        <a class="conversation-button text-[#E8F5FC] my-2" href="{% url 'assistant:continuechat' item.pk %}">
                            <i class="fa fa-message fa-regular"></i> {{item.title| truncatewords:04 }}
                        </a>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <form method = "GET" action="{% url 'assistant:chatdelete' %}">
                            {% csrf_token %}
                                <input type="hidden" name="deleteitem" value="{{item.pk}}">
                                <button type="submit" value="delete" class="trash"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            {% if y_ques %}
                <li class="grouping">Yesterday</li>
                {% for item in y_ques %}
                    <li>
                        <a class="conversation-button text-[#E8F5FC] my-2" href="{% url 'assistant:continuechat' item.pk %}">
                            <i class="fa fa-message fa-regular"></i>  {{item.title| truncatewords:04 }}
                        </a>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <form method = "GET" action="{% url 'assistant:chatdelete' %}">
                                <input type="hidden" name="deleteitem" value="{{item.pk}}">
                                <button type="submit" value="delete" class="trash"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            {% if early_ques %}
                <li class="grouping">Earlier Days</li>
                {% for item in early_ques %}
                    <li>
                        <a class="conversation-button text-[#E8F5FC] my-2" href="{% url 'assistant:continuechat' item.pk %}">
                            <i class="fa fa-message fa-regular"></i>  {{item.title| truncatewords:04 }}
                        </a>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <form method = "GET" action="{% url 'assistant:chatdelete' %}">
                                <input type="hidden" name="deleteitem" value="{{item.pk}}">
                                <button type="submit" value="delete" class="trash"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            {% if s_ques %}
                <li class="grouping">Previous 7 days</li>
                {% for item in s_ques %}
                    <li>
                        <a class="conversation-button text-[#E8F5FC] my-2" href="{% url 'assistant:continuechat' item.pk %}">
                            <i class="fa fa-message fa-regular"></i>  {{item.title| truncatewords:04 }}
                        </a>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <form method = "GET" action="{% url 'assistant:chatdelete' %}">
                                <input type="hidden" name="deleteitem" value="{{item.pk}}">
                                <button type="submit" value="delete" class="trash"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
            {% if more_s_ques %}
                <li class="grouping">Previous 30 days</li>
                {% for item in more_s_ques %}
                    <li>
                        <a class="conversation-button text-[#E8F5FC] my-2" href="{% url 'assistant:continuechat' item.pk %}">
                            <i class="fa fa-message fa-regular"></i>  {{item.title| truncatewords:04 }}
                        </a>
                        <div class="fade"></div>
                        <div class="edit-buttons">
                            <form method = "GET" action="{% url 'assistant:chatdelete' %}">
                                <input type="hidden" name="deleteitem" value="{{item.pk}}">
                                <button type="submit" value="delete" class="trash"><i class="fa fa-trash"></i></button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
   </div>
</aside>